/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #f9f9f9;
  overflow: hidden; /* Evita el desplazamiento */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
}

/* Barra de navegación superior */
.top-bar {
  width: 100%;
  background: linear-gradient(to right, #ffffffa1, #ffffffa1);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: #8B4513;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.register-btn {
  background-color: #7fc3d9; /* Fondo celeste */
  color: white; /* Texto blanco */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
}

.register-btn:hover {
  background-color: #6bb3c4;
}

/* Contenido principal */
.container {
  display: flex;
  height: 100%; /* Usa el 100% de la altura disponible */
}

.left-panel {
  flex: 1;
  background-color: #83BDCB;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.right-panel {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 120px;
  margin-bottom: 20px; /* Espacio debajo del logo */
}

.illustration {
  max-width: 75%;
  height: auto;
  align-items: center;
}

h1 {
  font-size: 38px;
  color: #333;
  margin-bottom: 20px;
}

.brand-name {
  color: #7fc3d9;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input::placeholder {
  color: #aaa;
}

.login-btn {
  background-color: #7fc3d9; /* Fondo celeste */
  color: white; /* Texto blanco */
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #6bb3c4;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
}

.signup-link a {
  color: #7fc3d9;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

.footer a {
  color: #7fc3d9;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}