/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* Some Variables */
:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color: ;
    --light-orange-color: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #fff;
}
img {
    width: 100%;
}
body {
    color: var(--text-color);
}
